$tabletMinWidth: 768px;
$desktopMinWidth: 992px;

.cal {
  width: 100vw;
  height: 50vh;
  overflow-y: auto;
  background-color: #84baff;
  background: linear-gradient(180deg, rgba(132,186,255,1) 0%, rgba(11,14,28,1) 100%);

  &-screen {
    padding: 1%;
    font-size: 3rem;
  }

  &-btns {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 0;

    &__item {
      list-style: none;
      flex: 1 0 25%;
      padding: 1%;
      box-sizing: border-box;

      .cal-btn {
        font-size: 2rem;
      }

      &.cal-btn__num-0 {
        flex: 1 0 50%;

        .cal-btn {
          border-radius: 50px;

          &:after {
            padding-bottom: 46%;
          }
        }
      }
    }
  }

  @media only screen and (min-width: $tabletMinWidth) {
    & {
      width: 480px;
      height: auto;
    }
  }
}