.cal-btn {
  border: none;
  outline: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  width: 100%;

  &:after {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%;
  }

  &__cnt {
    height: 0;
    margin-top: -1em;
  }

  &__op {
    background-color: #AFAFAF;

    &:hover {
      background-color: #bebebe;
    }

    &:active {
      background-color: #dbdbdb;
    }
  }

  &__num {
    color: white;
    background-color: #3091FD;

    &:hover {
      background-color: #3f97fc;
    }

    &:active {
      background-color: #4f9ffa;
    }
  }
}