# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    env:
      USER_NAME   : githubAction
      USER_EMAIL  : githubAction@fake.com
      PUBLISH_DIR : ./build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.5.0'
    - name: Install dependencies
      run: yarn --frozen-lockfile
    # - name: Depoly storybook to ghpages
    #   run: yarn run deploy-storybook --ci
    #   env:
    #     GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
    - name: Build react app & storybook
      run: |
        yarn run build
        yarn run build-storybook -o .out
        mv .out build/storybook
    - name: Commit gh-pages
      run: |
        git config --local user.name $USER_NAME
        git config --local user.email $USER_EMAIL
        yarn run deploy
